@import "utils.sass"

=mkButton
  +transition(all 0.1s ease-in-out)
  opacity: 0
  position: absolute
  font-weight: bold
  font-size: 1.4em
  cursor: pointer
  z-index: 15    
  +color(#8DC2F7)
  color: #2670D4
  
=mkButtonHover
  +color(#69AFE9)

  
// style

$bg: #055081
$bg_dark: #1F2B36
$bg_cont: #FFF
$txt: #EEE
$main: #999
$alt: #666
$links: #CEFFFD

@font-face
  font-family: Guardian
  src: url( /fonts/guardian.eot ) /* IE 6,7,8 */  
  
@font-face
  font-family: Guardian
  src: url('/fonts/guardian.otf')
  
body
  background: $bg
  font-family: sans-serif, Helvetica, Arial, Verdana
  color: $txt
  font-size: 120%
  text-align: center

a
  color: $links
a:hover  
  color: $links
  background: $bg - #333

#infos a
  font-weight: bold

input[type='submit'], input.submit, a.button, a.btn//, #infos a
  +button
  +color(#8DC2F7)
  color: #2670D4
  +rounded(20px)
  margin: 6px 0
  &hover
    +color(#69AFE9)
    color: #093E97
  

#container
  width: 100%
  margin: 0 auto 40px 
  padding-top: 20px
  +simple_gradient($bg_dark, $bg)
  
p 
  font-size: 0.9em
  
  
h1
  margin: 0 auto 10px auto
  width: 500px
  font-size: 2em
  span
    font-size: 0.55em
    display: block
    
.portfolio
  padding-bottom: 0px
  
h2
  margin-bottom: 45px
  font-size: 1.4em
  
h3
  margin-bottom: 25px
  font-size: 1.1em
  font-weight: normal
  font-family: 'Swanky and Moo Moo', serif
  
h4
  margin: 10px 0 5px
    
#gallery
  margin: 0 auto
  overflow: hidden
  padding-bottom: 20px
  height: 450px
  
  img 
    width: 600px
    height: 450px
    position: absolute
    //transition2(opacity 0.5s ease-in-out, left 1s ease-in-out)
    +transition(all 0.5s ease-in-out)
    opacity: 0.85
    cursor: pointer
    z-index: 1
    +box-shadow(0px, 1px, 10px, #fff)
  img.mkHidden
    opacity: 0
  img:hover
    opacity: 0.5

  
  .mkButton
    +mkButton
    width: 50px
    height: 450px
    padding: 200px 0 0 
  .mkButton.active
    opacity: 0.1
  .mkButton.active:hover
    opacity: 0.7
  .mkButtonGo
    +mkButton
    top: 392px
    left: 390px
    width: 200px
    height: 80px
    padding: 25px 0 0
    +border-radius-top(30px)
    display: block
    .arrow
      font-family: Geneva, Lucida Grande, Verdana
      font-size: 1.2em
      font-weight: bold
  .mkButtonGo
    z-index: 20
  .mkButtonGo.active
    opacity: 0.35
  .mkButtonGo.active:hover
    opacity: 0.7
    
#content
  -webkit-perspective: 1200px

//...i found that to fix it you have to apply the filter before rounding the border... this way it works... no words...
  
ul#nav  
  float: right
  display: block
  width: 270px
  margin-bottom: 10px
  li a
    +button
    +gradient($bg, $bg_dark)
    +rounded(13px)
    font-size: 0.9em
    padding: 3px 9px
    border: 1px solid $links
    border-left: 1px solid $links - #333
    border-right: 1px solid $links - #333
    border-bottom: 1px solid $links - #666
    margin: 0 3px
  li a:hover  
    +gradient($links - #111, $bg+#222)
    color: $bg_dark
    +box-shadow(0px, -1px, 7px, $links)
  
#gallery	
  margin-bottom: 25px
  // -webkit-transform-origin: 10px 10px
  // -webkit-transform: rotateY(5deg) rotateX(10deg)


 
#infos
  ul.features, ul.technologies
    li
      margin: 15px 0
      font-size: 1.1em
      display: block
      p 
        margin-top: 4px
        font-size: 0.85em

a.scroll_top
  margin: 35px 0 30px
  font-size: 1.3em
  font-family: Verdana
  opacity: 0.7
  padding: 0px 50px
  div
    position: relative
    top: 3px
a.scroll_top:hover
  opacity: 1
  
p.info
  font-size: 1.15em
  font-weight: bold
  margin-bottom: 20px