%ul.features
  %li CMS - pages, job listing, pdf upload, subscriptions control
  %li Markdown based CMS 
  %li Custom syntax to render vimeo embeds and flickr galleries
  %li 
    %a{ href: "https://github.com/makevoid/jqueryflickr" }     
      jQuery Flickr Gallery
  %li Custom visitor tracking and analytics with mixpanel api    
  %li Facebook and Google Ads Campaign monitoring
  %li 
    %a{ href: "http://github.com/makevoid/cappiello" } open source

%ul.technologies
  %li Ruby on Rails
  %li DataMapper
  %li HAML
  %li Markdown
  %li jQuery

