%p.info JavaScript Photo Gallery / Site

%ul.features
  %li 
    %a{ href: "http://github.com/makevoid/eli" } open source
  

%ul.technologies
  %li Ruby Sinatra
  %li JavaScript, jQuery

%a.link{ href: "http://elisabettaporcinai.com" } elisabettaporcinai.com