%p.info 
  EsTemporary is a conceptual space, where are collected ideas translated in contemporary jewellery.


%ul.technologies
  %li Ruby
  %li Sinatra (base generated w/ sinatrize)
  %li JQuery, Underscore.js, Fancybox2