%p.info FiveTastic is a mini-framework to develop website/apps that run entirely on client side using the following libraries:


%ul.features
  %li HAML
  %li SASS
  %li jQuery or Zepto
  %li Coffeescript

%p.info see more at:

- link_to "fivetastic.org", "http://fivetastic.org"
  
  

- link_to "open source", "https://github.com/makevoid/fivetastic"
