%p.info JavaScript library for web scraping

%ul.features
  %li scrape contents via javascript
  %li bypass "Same Origin" XMLHTTPRequest policy 
  %li open source
  
  
%ul.technologies
  %li JavaScript client library (CoffeeScript)
  %li jQuery dom parsing / traversing
  %li Ruby Goliath (eventMachine) server

- link_to "jscrape.it", "http://jscrape.it"

%h4 source:

%p 
  - link_to "js client", "http://github.com/makevoid/jscrape"
%p
  - link_to "server", "http://github.com/makevoid/jscrape-server"
%p
  - link_to "web", "http://github.com/makevoid/jscrape-web"


