%ul.features
  %li scrape contents via javascript
  %li bypass "Same Origin" XMLHTTPRequest policy 
  %li open source
  
  
%ul.technologies
  %li JavaScript client library (CoffeeScript)
  %li jQuery dom parsing / traversing
  %li Ruby Goliath (eventMachine) server


%a.link{ href: "http://jscrape.it" } jscrape.it

%p source:

%a.link{ href: "http://github.com/makevoid/jscrape" } js client
%a.link{ href: "http://github.com/makevoid/jscrape-server" } server


