%a{ href: "http://makevoid.com" } makevoid.com

%ul.features
  %li CSS3 transitions
  %li JS: AJAX, push/popState
  %li Ruby Sinatra
%p 
  %a{ href: "https://github.com/makevoid/makevoid" } open source