%p.info My portfolio

%a{ href: "http://makevoid.com" } makevoid.com

%ul.features
  %li CSS3 transitions
  %li JavaScript: AJAX, history.state, jQuery
  %li Ruby Sinatra
  %li Haml and Haml-js 
%p 
  %a{ href: "https://github.com/makevoid/makevoid" } open source