%p.info Web Manga Reader for iPad and Android tablets


%ul.features
  %li directly proxies scanlations images
  %li best viewed on iPad and on android tablets
  
%ul.technologies
  %li JavaScript
  %li MultiTouch JS API
  %li Ruby Sinatra
  
  
%p images gently offered by third parties scanlations sites


%a.link{ href: "http://mangapad.org" } mangapad.org

