%ul.features
  %li
    %a.link{ href: "http://5apps.com" } 5apps

  %li
    %a.link{ href: "http://shado.tv" } ShadoTv

  %li
    %a.link{ href: "http://sky.it" } Sky

  %li
    %a.link{ href: "http://theFool.it" } theFool
