%p.info other open source projects

%ul.opensource
  - for project in PROJECTS
    %li
      - link_to project[:label], "https://github.com/makevoid/#{project[:name]}"
      = project[:desc]

-# not for display:

-# unfinished:
-#   https://github.com/makevoid/mkvping
-#   fivetastic-mac

-# outdated: { label: "Volatutto", name: "volatutto", desc: "flights low fares finder - caches and redirect to volaGratis.it" },