%ul.features
  %li CMS + pdf upload
  %li 
  %li open source soon: http://github.com/makevoid/pp
  
%ul.technologies
  %li Rails 3 
  %li 
    OpenZoom API 
    %p.mini 
      (examples: 
      - link_to "Parco di Pinocchio", "http://pietroporcinai.net/projects/75"
      - link_to "Barilla", "http://pietroporcinai.net/projects/6"
      - link_to "Drawings", "http://pietroporcinai.net/projects/325"
      - link_to "Garden Furniture", "http://pietroporcinai.net/projects/174"
      - link_to "Olivetti", "http://pietroporcinai.net/projects/101"
      )
  


%a.link{ href: "http://pietroporcinai.net" } pietroporcinai.net
%a.link{ href: "http://pietroporcinai.it" } pietroporcinai.it

