%p.info 
  free press magazine and video productions
  %span powered by FiveTastic and FiveApi

%p
  This is the first site made with 
  - link_to "FiveTastic", "http://fivetastic.org"
  , a framework for creating dynamic sites with JavaScript. 
%p It's new, it's cool, it's simple and on the edge! Check it out!
  

%p
  The content of the site is handled by
  - link_to "FiveApi", "http://fiveapi.com"
  \(currently in beta)


%ul.technologies
  %li JavaScript
  %li Ajax
  %li Jquery
  %li
  %li
    %a{ href: "http://github.com/makevoid/riotvan" } open source

%a.link{ href: "http://riotvan.net" } riotvan.net

