%ul.features
  %li iPhone native application
  %li website with fb sharing features

%ul.technologies
  %li app: Objective-C, Cocoa
  %li web: Ruby on Rails
  
- link_to "skicams.it", "http://iphone.skicams.it"  