%p.info Fashion Facebook Game

%p Open Source Game

%ul.features
  %li Redis
  %li Facebook integration
  %li JavaScript: AJAX, history.state, jQuery
  %li Ruby Sinatra  


  - link_to "stylequiz.net", "http://stylequiz.net"