%p.info TPB Social Proxy

%ul.features
  %li 
  
%ul.technologies
  %li JavaScript
  %li Ajax
  %li push/popState
  %li Ruby Sinatra
  %li 
    %a{ href: "http://github.com/makevoid/thorrents" } open source

%a.link{ href: "http://thorrents.com" } thorrents.com

