http://accademia-cappiello.it

Ruby on Rails 3


CMS - pages and job listing
Custom analytics with mixpanel api
jQuery Flickr Gallery - https://github.com/makevoid/jqueryflickr
open source: https://github.com/makevoid/cappiello
