%ul.features
  %li CMS - pages, job listing, pdf upload, subscriptions control
  %li 
    - link_to "jQuery Flickr Gallery", "https://github.com/makevoid/jqueryflickr"
  %li Custom analytics with mixpanel api
  %li 
    - link_to "open source", "http://github.com/makevoid/cappiello"

%ul.technologies
  %li Ruby on Rails 3 
  %li DataMapper

-# %a.button.link{ href: "http://accademia-cappiello.it" } accademia-cappiello.it